.div-subscribe {
  margin-left: auto;
}
.subscribe-input {
  width: 358px;
  padding: 15px;

  font-size: 16px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--hero-footer-bg-color);
}
.subscribe-button {
  display: inline-flex;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  text-align: left;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
}

.subscribe-icon {
  display: block;
  margin-left: 10px;
  fill: currentColor;
}
