@import "../components/team-list";
.team {
  background-color: $bgc-secondary;
}
.team__headline {
  @extend %headlines;
}
.team__list {
  display: flex;
}
.team__item {
  background-color: var(--title-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item + .team__item {
  margin-left: $margin-list-set;
  text-align: center;
}
